@charset "UTF-8";
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  -webkit-overflow-scrolling: touch !important;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  color: #222;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch !important;
  height: 100%;
}

* {
  outline: none !important;
}
/* General Style */
.lang-flag {
  width: 100px;
}
.progress-steps {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.step {
  text-align: center;
  -webkit-clip-path: polygon(
    75% 0%,
    100% 50%,
    75% 100%,
    0% 100%,
    25% 50%,
    0% 0%
  );
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background: #f1f1f1;
  width: 50px;
  height: 24px;
  font-weight: bold;
}
.step.active {
  background: #aaa;
}
.step.active p {
  color: #fff;
}
.d-none {
  display: none;
}
.focus {
  border: 2px solid #007bff;
}
